* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navlist {
    position: sticky;
    top: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333333;
    display: flex;
    justify-content: center;
    width: 100%;
}

ul li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}


ul li a:hover {
     background-color: #6b6b6b;
     text-decoration-line: none;
}

ul li a[href]:hover {
      background-color: #6b6b6b;
      text-decoration-line: underline;
 }

 ul li:hover .subnav {
     display: block;
     background-color: white;
     order: 1;
  }

.subnav {
    list-style-type: none;
    position: absolute;
    display: none;
}

.subnavcontent{
    display: block;
    justify-content: left;
    color: black;
}

.subnavcontent:hover {
    background-color: lightgray;
    color: #000000;
    text-decoration-line: underline;
}

h1 {
    text-align: center
}

.home {
    height: auto;
    background-color: #000000;
    display: block;
    color: white;
    align-self: center;
    text-align: center;
    padding: 14px;
    margin: 0;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
}