* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333333;
    display: flex;
    justify-content: center;
}

ul li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    text-decoration-line: underline;
    background-color: #6b6b6b;
}

h1{
    text-align: center
}

.home{
    background-color: #000000;
    display: block;
    color: white;
    text-align: center;
}